:root {
    --color-bg:            rgb(20, 20, 20);
    --color-bg-surface:    rgb(34, 34, 34);
    --color-text:          white;
    --color-text-surface:  #e5e7eb;
    --color-muted:         grey;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
    background-color: var(--color-bg);
    font-family: sans-serif;
    color: var(--color-text);
}

header {
    max-width: 750px;
    padding: 0 1em;
    margin: 2em auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
}

#logo {
    font-weight: bold;
}

#logo, .link-tab a {
    text-decoration: none;
    color: var(--color-muted);
}

#logo:hover, .link-tab a:hover {
    color: var(--color-text);
}

.link-tab {
    display: flex;
    font-size: 0.75em;
    gap: 1em;
}

main {
    max-width: 750px;
    padding: 0 1em;
    margin: 0 auto;
}

.title-container {
    margin-top: 1em;
    margin-bottom: 3em;
}

/* Exclusive to the index article segment. */

#heading {
    font-size: 8em;
    line-height: 1;
}

#subheading {
    font-size: 1.25em;
    margin-top: 1em;
    color: var(--color-muted);
}

.article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.5em;
    line-height: 1.75;
    border-bottom: 1px solid var(--color-muted);
    color: var(--color-text);
    text-decoration: none;
}

.article-date {
    font-size: 0.75em;
    color: var(--color-muted);
    transition: color 0.2s ease-in-out;
}

.article:hover .article-date {
    color: var(--color-text);
}

/* Break exclusivity */

footer {
    max-width: 750px;
    padding: 3rem 0 0 0;
    margin: 0 auto;
    text-align: center;
}

#copyright {
    color: var(--color-muted);
    font-size: 1.25em;
}

#github-svg img {
    width: 50px;
    height: 50px;
    margin: 1em;
}

/* Exclusive to the explore.html webpage */
#explore-heading {
    font-size: 4em;
}

#explore-subheading {
    color: var(--color-muted);
    font-size: 1.25em;
}

.tag-container {
    display: flex;
    flex-direction: column;
}

.tag-titles {
    text-transform: uppercase;
    color: var(--color-muted);
    font-size: 0.9em;
    margin-bottom: 1em;
}

.tag-guide {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-bottom: 3em;
}

.tag-btn {
    display: block;
    padding: 0.5em;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--color-bg-surface);
    color: var(--color-text-surface);
    font-size: 0.90em;
}

.tag-btn:hover {
    background-color: var(--color-muted);
    color: var(--color-bg-surface);
}

.article-count {
    margin-left: 1.5px;
    color: var(--color-muted);
}

.tag-btn:hover .article-count {
    color: var(--color-bg-surface);
}